/*
    MARK: CSS RESET
*/

/* Simplifico la forma de aplicar tamaños */
*, *::before, *::after { box-sizing: border-box; }

/* Quito el espaciado predeterminado */
* { margin: 0; padding: 0; }

/* Aplico dark mode user-agent-styles */
/* Mejoro la puntuación en los navegadores que lo soporten */
html { color-scheme: dark light; hanging-punctuation: first last; }

/* min body height para evitar problemas con display:flex */
body { min-height: 100svh; }

/* imágenes/videos responsive */
img, picture, svg, video { display: block; max-width: 100%; }

/* Mejoro los títulos en los navegadores que lo soporten */
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

/* Mejoro la legibilidad con max-width en párrafos y listas */
/* Prevengo palabras "huérfanas" en los navegadores que lo soporten */
p, li { max-width: 65ch; text-wrap: pretty; }

/* Me aseguro que todos los elementos tengan la misma fuente */
input, button, textarea, select { font: inherit; }

/* Agrego ajustes para accesibilidad con scroll y animaciones */
@media (prefers-reduced-motion: reduce)  {
 *, *::before, *::after { 
 animation-duration: 0.01ms !important; 
 animation-iteration-count: 1 !important; 
 transition-duration: 0.01ms !important; 
 scroll-behavior: auto !important;
 transition: none;
 }
}
/* ========================================================== */

/*
    MARK: GLOBAL VALUES
*/

html {
    --clr-primary: #121212;
    --clr-secondary: #F2F2F2;
    --clr-accent: #CAC3A7;
    --text-clr-primary: white;
    --text-clr-secondary: black;
    --text-clr-accent: black;

    font-family: system-ui, sans-serif;
}

body {
    background-color: var(--clr-primary);
    color: var(--text-clr-primary);
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 1rem;
    background-color: var(--clr-primary);
    color: var(--text-clr-primary);
    margin: 0 3vw;
    padding: 2rem 1rem;
    width: 94vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    border: solid 0.1rem var(--clr-accent);
    -webkit-box-shadow: -5px 5px 15px -5px #000000;
    box-shadow: -5px 5px 15px -5px #000000;
}

/* Style the navigation menu */
#topNavbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#navbarLinks {
    margin-top: 1rem;
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 0.5rem;

}

#navbarLinks > a {
    text-decoration: none;
    background: var(--clr-accent);
    color: var(--text-clr-accent);
    width: 100%;
    padding: 1rem 0;
    display: grid;
    place-items: center;
    border-radius: 3rem;
}

/* Style navigation menu links */
#topNavbar a {
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
    display: grid;
    place-items: center;

}

/* Style the hamburger menu */
#topNavbar a.icon {
    background: var(--clr-accent);
    color: var(--text-clr-accent);
    border-radius: 3rem;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #F2F2F2;
    color: black;
}

main {
    margin: 0;
}

#heroContainer {
    /* background-image: URL(https://placehold.co/338x500@2x);
    background-size: cover;
    background-position: center; */
    background: var(--clr-primary);
    color: var(--text-clr-primary);
    width: auto;
    height: 100vh;
    height: 100dvh;
    display: grid;
    place-items: center;
}

#aboutContainer {
    background-color: var(--clr-secondary);
    color: var(--text-clr-secondary);
    margin: 3rem 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 1rem;
    padding: 2rem;
    -webkit-box-shadow: -5px 5px 15px -5px #000000;
    box-shadow: -5px 5px 15px -5px #000000;
}

#projectsContainer {
    background-color: var(--clr-secondary);
    color: var(--text-clr-secondary);
    margin: 3rem 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 1rem;
    padding: 2rem;
    -webkit-box-shadow: -5px 5px 15px -5px #000000;
    box-shadow: -5px 5px 15px -5px #000000;
}

#projectsListContainer {
    list-style: none;
}

.hidden { display: none; }

footer {
    margin-top: 3rem;
    padding: 0 3vw 5rem 3vw;
    border-top: solid 0.2rem var(--clr-accent);
    background-color: var(--clr-primary);
    color: var(--text-clr-primary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer > h2 { align-self: center; }

footer > ul {
    align-self: center;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 90vw;
}

footer > ul > li {
    cursor: pointer;
    min-height: 3rem;
    width: 33%;
    display: grid;
    place-items: center;
}

/*
    MARK: MEDIA QUERIES
*/

@media (min-width: 1200px) {
    header {
        width: 80vw;
        padding: 1rem 1rem;
        flex-direction: row;
        justify-content: space-between;
    }

    #topNavbar {
        width: auto;
    }

    #topNavbar > a {
        display: none;
    }

    #navbarLinks {
        width: 46.25rem;
        margin-top: 0;
        display: flex;
        flex-direction: row;
    }

    footer > ul > li { width: 33%; }
}